@media (max-width: 768px) {
  .container {
    flex-direction: column;
    border-radius: 0;
    width: 100%;
    height: auto;
  }

  .result {
    border-radius: 0 0 30px 30px;
    padding: 2rem 1.5rem;
  }

  .score-circle {
    width: 120px;
    height: 120px;
  }

  .sumario {
    display: flex;
    align-items: center; 
    flex-direction: column;
    padding: 2rem 1.5rem;
    align-items: center;
  }

  ul {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .item {
    width: 100%;
    max-width: 20rem;
  }

  button {
    width: 100%;
    max-width: 20rem;
    margin-left: 30px;
  }
}
